body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif;
}

pre, code {
    font-family: "IBM Plex Mono", monospace;
}

.sr-border {
    border: 1px solid black;
}

.sr-float-right {
    float: right;
}

.sr-margin-bottom {
    margin-bottom: 16px;
}

.sr-margin-top {
    margin-top: 16px;
}

.sr-padding {
    padding: 16px;
}

.sr-padding-8 {
    padding: 8px;
}

.sr-panel {
    margin: 16px;
    padding: 16px;
}

.sr-right-align {
    text-align: right;
}

.sr-text-bold {
    font-weight: bold;
}

.sr-text-centre {
    text-align: center;
}

.sr-text-small {
    font-size: 16px;
}

.sr-xxxlarge {
    font-size: 48px;
}

.sr-theme {
    color: white;
    background-color: #795548;
}

.sr-theme-light {
    color: white;
    background-color: #b89588;
}

.sr-theme-dark {
    background-color: #553c33;
}

.sr-theme-darker {
    background-color: #3d2b24;
}

.bluesky-icon {
  color: #87ceeb; /* Bluesky blue */
}

.bluesky-icon:hover {
  color: #4682b4; /* darker blue */
}

.discord-icon {
  color: #5865f2; /* Discord blue */
}

.discord-icon:hover {
  color: #4e5d94; /* darker blue */
}

.facebook-icon {
  color: #1877f2; /* Facebook bright blue */
}

.facebook-icon:hover {
  color: #1465cc; /* darker blue */
}

.github-icon {
  color: #4078c0; /* GitHub blue */
}

.github-icon:hover {
  color: #2c5282; /* A darker blue */
}

.instagram-icon {
  color: #e1306c; /* Instagram gradient */
}

.instagram-icon:hover {
  color: #b42656; /* A darker gradient */
}

.pandora-icon {
  color: #00a0ee; /* Pandora blue */
}

.pandora-icon:hover {
  color: #007bb5; /* A darker blue */
}

.pinterest-icon {
  color: #e60023; /* Pinterest red */
}

.pinterest-icon:hover {
  color: #b2001b; /* A darker red */
}

.reddit-icon {
  color: #e60023; /* Reddit orangered */
}

.reddit-icon:hover {
  color: #b2001b; /* A darker orangered */
}

.tiktok-icon {
  color: #fe2c55; /* TikTok pinkred */
}

.tiktok-icon:hover {
  color: #c32344; /* A darker pinkred */
}

.twitter-icon {
  color: #1da1f2; /* classic Twitter blue */
}

.twitter-icon:hover {
  color: #0c85d0; /* A darker blue */
}

.threads-icon,
.youtube-icon {
  color: black;
}

.threads-icon:hover,
.youtube-icon:hover {
  color: grey;
}
