body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

pre,
code {
  font-family: "IBM Plex Mono", monospace;
}

p,
li {
  font-size: 1.25rem;
}

hr {
  border-top-color: rgb(192, 192, 192);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}

pre {
  background-color: #f1f1f1;
  margin: 32px;
  padding: 16px;
}

@media (max-width: 1124px) {
  /* Styles for screens 1124px and smaller */
  img {
    width: 100%;
  }
}
