{% extends 'base.html' %}

{% block head_meta %}
    {% if article.twitter_username %}
        <meta name="twitter:creator" content="@{{ article.twitter_username }}"/>
    {% elif TWITTER_USERNAME %}
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}"/>
    {% endif %}

    <meta name="description" content="{{ article.summary | striptags | safe }}"/>
{% endblock %}

{% block content %}
    <header class="sr-theme-light sr-padding">
        <h1>{{ article.title }}</h1>
        <div class="sr-right-align sr-text-small">
            by {% if article.author %}{{ article.author }}{% else %}{{ AUTHOR }}{% endif %}
            on {{ article.date.strftime("%B %d, %Y") }}
        </div>
    </header>
    <div class="sr-margin-top">{{ article.content }}</div>
{% endblock %}
