<!doctype html>
<html lang="{{ DEFAULT_LANG }}" data-theme="light">
<head>
    <link rel="preconnect" href="https://sarah-rogue.me"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://sarah-rogue.me" crossorigin/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    {% if page_name == 'index' or category or tag %}
        <link rel="canonical" href="{{ SITEURL }}/{{ articles[0].url }}"/>
    {% elif article %}
        <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>
    {% elif page %}
        <link rel="canonical" href="{{ SITEURL }}/{{ page.url }}"/>
    {% elif page_name == "categories" %}
        <link rel="canonical" href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS | default('categories.html') }}"/>
    {% elif page_name == "tags" %}
        <link rel="canonical" href="{{ SITEURL }}/{{ TAGS_SAVE_AS | default('tags.html') }}"/>
    {% endif %}
    <meta charset="utf-8"/>
    <base href="{{ SITEURL }}/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light">
    <meta name="robots" content="{{ ROBOTS_CONTENT | default('noindex, nofollow') }}"/>
    <meta name="twitter:card" content="{{ TWITTER_CARD_VALUE | default('summary') }}">
    {% if TWITTER_USERNAME %}
        <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}"/>
    {% endif %}
    {% block head_meta %}{% endblock %}
    {% if page_name == 'index' and FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
              type="application/atom+xml"
              rel="alternate" title="{{ SITENAME|striptags }} Atom Feed"/>
    {% elif category and CATEGORY_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL | replace('{slug}', category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM | replace('{slug}', category.slug) }}{% endif %}"
              type="application/atom+xml"
              rel="alternate" title="{{ SITENAME|striptags }} Atom Feed"/>
    {% elif tag and TAG_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL | replace('{slug}', tag.slug) }}{% else %}{{ TAG_FEED_ATOM | replace('{slug}', tag.slug) }}{% endif %}"
              type="application/atom+xml"
              rel="alternate" title="{{ SITENAME|striptags }} Atom Feed"/>
    {% endif %}
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"/>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/pico-main/css/pico.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    {% if OVERRIDE_CSS %}<link rel="stylesheet" href="{{ SITEURL }}/css/{{ OVERRIDE_CSS }}"/>{% endif %}
</head>
<body>
<header class="container-fluid sr-theme sr-text-centre">
    {% block header %}
        <div class="sr-xxxlarge sr-text-bold">{{ SITENAME }}</div>
    {% endblock %}
</header>

<nav class="container-fluid sr-theme-darker">
    <a href="{{ SITEURL }}/">
        <button class="secondary sr-theme-dark">home</button>
    </a>
    <a href="{{ SITEURL }}/categories.html">
        <button class="secondary sr-theme-dark">categories</button>
    </a>
    <a href="{{ SITEURL }}/tags.html">
        <button class="secondary sr-theme-dark">tags</button>
    </a>
    {% for page in pages %}
        <a href="{{ SITEURL }}/{{ page.url }}">
            <button class="secondary sr-theme-dark">{{ page.title }}</button>
        </a>
    {% endfor %}
</nav>

<main class="container-fluid">
    <article class="sr-panel sr-border">
        {% block content %}{% endblock %}
    </article>
</main>

{% if page_name and (page_name.startswith('index') or page_name.startswith('category') or tag and page_name.startswith('tag')) %}
    <!-- Navigation arrows -->
    <nav class="container-fluid sr-text-centre">
        <div role="group" class="sr-paginator">
            <!-- First page -->
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ page_name }}.html" role="button" class="secondary sr-theme-darker"><i
                        class="fa-solid fa-angles-left"></i> first</a>
            {% else %}
                <span role="button" class="secondary" disabled><i class="fa-solid fa-angles-left"></i> first</span>
            {% endif %}

            <!-- Previous page -->
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" role="button"
                   class="secondary sr-theme-darker"><i class="fa-solid fa-angle-left"></i> previous</a>
            {% else %}
                <span role="button" class="secondary" disabled><i class="fa-solid fa-angle-left"></i> previous</span>
            {% endif %}

            <!-- Page indicator -->
            <span role="button"
                  class="sr-theme-light">{{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>

            <!-- Next page -->
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}" role="button" class="secondary sr-theme-darker">next
                    <i class="fa-solid fa-angle-right"></i></a>
            {% else %}
                <span role="button" class="secondary" disabled>next <i class="fa-solid fa-angle-right"></i></span>
            {% endif %}

            <!-- Last page -->
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/index{{ articles_paginator.num_pages }}.html" role="button"
                   class="secondary sr-theme-darker">last <i class="fa-solid fa-angles-right"></i></a>
            {% else %}
                <span role="button" class="secondary" disabled>last <i class="fa-solid fa-angles-right"></i></span>
            {% endif %}
        </div>
    </nav>
{% endif %}

<footer class="container-fluid sr-theme-light sr-text-centre">
    Copyright {{ CURRENT_YEAR | default(2025) }} {{ AUTHOR }}
    <br/>
        <a href="{{ LICENSE_URL | default('https://creativecommons.org/licenses/by/4.0/') }}">{{ LICENSE | default('Attribution 4.0 International') }}</a>
        license
    <br/>
        Powered by <a href="https://picocss.com/">Pico CSS</a>{% if HOSTING_PROVIDER %} and <a href="{{ HOSTING_PROVIDER_URL }}">{{ HOSTING_PROVIDER }}</a>{% endif %}
</footer>

<script src="https://kit.fontawesome.com/{{ FONT_AWESOME }}.js" crossorigin="anonymous"></script>
</body>
</html>
