{% extends 'base.html' %}

{% block head_meta %}
    {% if articles[0].creator %}
        <meta name="twitter:creator" content="@{{ articles[0].creator }}"/>
    {% else %}
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}"/>
    {% endif %}
    <meta name="description" content="{{ articles[0].summary}}"/>
{% endblock %}

{% block content %}
    {% for article in articles %}
        <article>
            <div class="sr-float-right">{{ article.date.strftime("%d %b %Y") }}</div>
            <div>{{ article.content }}</div>
        </article>
        <hr/>
    {% endfor %}
{% endblock %}
